/* Master Styles */

.red-placeholder::-webkit-input-placeholder {
    color: red;
}

h1 {
    color: #1C2B4B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2,
h3,
h4 {
    color: #1C2B4B;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body,
input[text],
button {
    color: #888;
    font-family: Cambria, Georgia;
}

a {
    cursor: pointer;
    cursor: hand;
}

button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}


/* Navigation link styles */

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

nav a:visited,
a:link {
    color: #607D8B;
}

nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

nav a.router-link-active {
    color: #039be5;
}


/* items class */

.items {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 24em;
}

.items li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.items li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.items li.selected:hover {
    background-color: #BBD8DC;
    color: white;
}

.items .text {
    position: relative;
    top: -3px;
}

.items {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 24em;
}

.items li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.items li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.items li.selected {
    background-color: #CFD8DC;
    color: white;
}

.items li.selected:hover {
    background-color: #BBD8DC;
}

.items .text {
    position: relative;
    top: -3px;
}

.items .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

/* .partners_block {
    display: inline-flex;
    padding-top: 15px;
}

.first_partner {
    margin-right: 25px;
}

.second_partner {
    margin-left: 25px;
    visibility: hidden;
} */

.announce {
    font-size: 1.5em;
    font-family: initial;
    font-style: italic;
}

.awards{
    position:absolute;
    width:25%;
}

.gold_award{
    margin-left:-18.5%
}

.silver_award{
    margin-left:13.5%
}

.bronze_award{
    margin-left:45.5%
}

/* everywhere else */

* {
    font-family: Arial, Helvetica, sans-serif;
}

#special_hyperlink a {
    text-decoration: none;
}

#sign_up{
    color: #e1df0f;
    background-color: rgb(22, 45, 111);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    font-weight: 700;
}

#register {
    background-color: rgb(27, 149, 224);
    border-bottom-color: rgb(197, 83, 101);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-width: 3px;
    border-right-width: 3px;
    border-left-width: 3px;
    width: 55%;
    color: #333;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 35%;
}
/*new css*/

.contentWrapper {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   padding: 20px;
}

.goldPartnerHeader {
    box-shadow: #FFD700 1px 1px 5px 5px;
    width: 100%;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
}

.silverPartnerHeader {
    box-shadow: #C0C0C0 1px 1px 5px 5px;
    width: 67%;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
}

.mediaPartnerHeader {
    box-shadow: #800080 1px 1px 5px 5px;
    width: 67%;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
}

.industryPartnerHeader {
    box-shadow: #98fb98 1px 1px 5px 5px;
    width: 67%;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
}

.goldPartnerWrapper {
	display: inline-block;
	box-sizing: border-box;
	width: 67%;

}

.goldPartner {
	display: inline-block;
	width: 49%;
	padding: 20px;
}
.goldPartnerImg {
	width: 100%;
}
.tightLogo{
	width: 70%;
}

.faqEntry{
    display:inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
    vertical-align: top;
}

.map{
    pointer-events: none;
    width: 100%;
    cursor: url("https://www.google.com/maps/embed/v1/place?q=America%20for%20Bulgaria%20Student%20Center%2C%20ulitsa%20%22Svoboda%20Bachvarova%22%2C%20Blagoevgrad%2C%20Bulgaria&zoom=14&key=AIzaSyAdDyAMvIcTdkS2uWIw9HXnJSQTSkxasjY") 8 8, default
}
/* IE Fix */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .gold_award{
        margin-left:2.5%
    }

    .silver_award{
        margin-left:34.5%
    }

    .bronze_award{
        margin-left:66.5%
    }
}

/* Safari fix*/
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{ @media {
    .gold_award{
        margin-left:-45%
    }

    .silver_award{
        margin-left:-13%
    }

    .bronze_award{
        margin-left:19%
    }
}}

@media (max-width: 768px) {
    .navbar-brand {
        display: inline-block;
        width: 50%;
    }
    .navbar-inverse .navbar-nav>li>a,
    .navbar-inverse .navbar-nav>li>a:hover {
        text-align: center;
    }
    #menu {
        background-color: rgba(27, 149, 224, 0.9);
    }

    #partners-sec,
    #organizers-sec,
    #location-sec,
    #about-sec,
    #lecture-sec,
    #schedule-sec,
    #contact-sec {
        padding-top: 50px;
    }
    .container.set-pad {
        margin-top: 0px !important;
        padding-top: 0px;
    }
    .header-line {
        padding-top: 0px;
    }
    .paragraph {
        text-align: center;
        font-size: 18px;
    }
    .row.set-row-pad {
        text-align: center;
    }

    .goldPartnerWrapper {
    	width: 100%;
    	padding: 15px;
    }

    .goldPartner {
		width: 100%;
	}
}

@media (max-width: 360px) {
    .navbar-brand {
        width: 80%;
    }


/* 	.first_partner_img {
		width: 65%;
	}

	.second_partner_img {
		width: 65%;
	}
	
	.partners_block {
		display: block;
		padding-top: 15px;
	} */


}

